<!doctype html>
<html>
<head>
	<title>Surly</title>
</head>
<body>
	<div id="conversation"></div>

	<form id="mouth">
		<input type="text" id="speech_input">
		<input type="submit" value="say">
	</form>

	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>