<!doctype html>
<html>
<head>
	<title>Surly</title>
</head>
<body>
	<h1>Surly</h1>
	<h2>Type "/help" for help.</h2>
	
	<p>Be patient. It's not very well optimised.</p>

	<h3>Some things that work</h3>
	<ul>
		<li>why? (try asking twice)</li>
		<li>random</li>
		<li>what is your name? (look up from bot attributes)</li>
		<li>what is that? (look up previous response)</li>
		<li>set foo * (set a variable of foo to any given value)</li>
		<li>get foo (get the value of foo)</li>
		<li>my name is *</li>
		<li>what is my name?</li>
	</ul>

	<div id="conversation"></div>

	<form id="mouth">
		<input type="text" id="speech_input">
		<input type="submit" value="say">
	</form>

	<script type="text/javascript" src="js/main.js"></script>

	<a href="#" id="end"></a>
</body>
</html>